.back-color {
    background-color: #f0efef;
    padding-top: 20px;
    padding-bottom: 20px;
}
.h1-mystyle {
    text-align: center;
    font-size: 1.95em;
    color: #ec456b;
    border: 1px solid #e27528d1;
    background-color: #aed6d6;
}