<section id="price" class="mypadding wow fadeIn">

    <div>
        <h2 class="mytext">What is Lorem Ipsum?</h2>
        <p class="mytext">
            Lorem Ipsum has been the industry's standard dummy 
        </p>
      </div>
      <div class="card-deck mycard2">

      <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-4 myPaddingMedia">
              <div class="card">
                  <img class="card-img-top" src="assets/images/price/price1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                  <button type="button" class="btn btn-pink waves-light" mdbWavesEffect>Pink</button>
                  <img class="animated bounce infinite" src="https://mdbootstrap.com/img/logo/mdb-transparent.png">

                </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4 myPaddingMedia">
              <div class="card">
                  <img class="card-img-top" src="assets/images/price/price1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
          </div>
          <div class="col-sm-12 col-md-12 col-lg-4  myPaddingMedia">
              <div class="card">
                  <img class="card-img-top animated bounce" src="assets/images/price/price1.jpg" alt="Card image cap">
                  <div class="card-body">
                    <h4 class="card-title">Card title</h4>
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                  </div>
                </div>
          </div>
        </div>
        </div>
            </section>
                                          