.mat-card-image {
    width: 430px;
    height: 320px;
    margin-left: 30px;
}
.margin-t{
margin-top: 78px;
}

@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i);

.cid-qxz0gNvgdF {
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #ffffff;
}
section {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    border: solid 1px;
}

.mbr-bold {
    font-weight: 700;
   

}

.cid-qxz0gNvgdF H2 {
    color: #232323;
}
.cid-qxz0gNvgdF .mbr-section-subtitle {
    color: #232323;
}
section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}



.mbr-section-subtitle {
    line-height: 1.3;
}
.mbr-light {
    font-weight: 300;
}
.align-center {
    text-align: center;
}
.mbr-white {
    color: #ffffff;
}
.pb-3 {
    padding-bottom: 1rem!important;
}
.cid-qxz0gNvgdF .testimonials-container .testimonials-item .user .user_image {
    width: 150px;
    height: 150px;
    overflow: hidden;
    margin: 2rem auto 2rem auto;
}
.cid-qxz0gNvgdF .testimonials-container .testimonials-item .user .user_image img {
    width: 100%;
    min-width: 100%;
    min-height: 100%;
}

.mbr-light {
    font-weight: 300;
}
b, strong {
    font-weight: bold;
}

.cid-qxz0gNvgdF H2 {
    color: #232323;
}
.cid-qxz0gNvgdF H2 {
    color: #232323;
}

.display-2 {
    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
}
b, strong {
    font-weight: bold;
}

.cid-qxz0gNvgdF .testimonials-container .testimonials-item .user .testimonials-caption {
    padding: 2rem;
    padding: 2rem 2rem 2rem 0;
}
.cid-qxz0gNvgdF .testimonials-container .testimonials-item {
    justify-content: center;
    margin-top: 3rem;
}
.display-5 {
    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
  }
  .display-5 > .mbr-iconfont {
    font-size: 2.08rem;
  }

.align-center {
    text-align: center;
}
.mbr-white {
    color: #ffffff;
}

.cid-qxz0gNvgdF .testimonials-container {
    margin: 0 auto;
}
.cid-qxz0gNvgdF .testimonials-container .testimonials-item .user {
    background: #f5f5f5;
    border: solid 2px rgb(210,105,30);

}


.user_image {
    border: 2px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    width: 150px;
}

.cid-qxz0gNvgdF .testimonials-container .testimonials-item .user .user_image:hover img {
    
    -ms-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 1;
}
.cid-qxz0gNvgdF .testimonials-container .testimonials-item .user .user_image:hover {
    
    box-shadow: 0 0 2px 1px rgb(210,105,30);
   
}




