.layout {
        background-color: #f0efef;
        padding-top: 20px;
        padding-bottom: 20px;
    

}
.h1-mystyle {
    text-align: center;
    font-size: 1.95em;
    color: #ec456b;
    border: 1px solid #e27528d1;
    background-color: #aed6d6;
}

.h4 {
margin: 0;
padding: 20px 12px;
background: #f0efef;
color: rgb(22, 21, 21);
font-size: 16px;
text-transform: uppercase;
font-family: Verdana, sans-serif;
//width: 376px;
margin: 0 auto;
border: 2px solid #333333; 
border-radius: 7px;
font-size: 1.65em;
}
.center{
    border: solid #da20d1 1px;
    background: none repeat scroll 0 0 #f8f9fa;
    border-radius: 7px;
    padding: 30px;
    text-align: center;
}


.buton1 {
    background: #ec0982;


}
.cardcenter {
    margin: 22px auto;
    background-color: #d2cbb6;
    border-color: #da20d1;
}
a img:hover {
    opacity: .75;
}